schemas/PersonnelUpdate_iepd/api/xml_schema/niem/xsd/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/5.0/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/5.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="2D" literal="Two-dimensional"/>
      <appinfo:LocalTerm term="3D" literal="Three-dimensional"/>
      <appinfo:LocalTerm term="Alpha2" definition="Two-letter"/>
      <appinfo:LocalTerm term="Alpha3" definition="Three-letter"/>
      <appinfo:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
      <appinfo:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <appinfo:LocalTerm term="ESN" literal="electronic serial number"/>
      <appinfo:LocalTerm term="FATCA" literal="Foreign Account Tax Compliance Act"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <appinfo:LocalTerm term="GENC" literal="Geopolitical Entities, Names, and Codes"/>
      <appinfo:LocalTerm term="GSM" literal="Global System for Mobile communication"/>
      <appinfo:LocalTerm term="IMEI" literal="International Mobile Equipment Identity"/>
      <appinfo:LocalTerm term="IPv4" literal="Internet Protocol version 4"/>
      <appinfo:LocalTerm term="IPv6" literal="Internet Protocol version 6"/>
      <appinfo:LocalTerm term="ISO" literal="International Organization for Standardization"/>
      <appinfo:LocalTerm term="ISO3166" definition="ISO 3166 is a standard published by the International Organization for Standardization (ISO) that defines codes for the names of countries, dependent territories, special areas of geographical interest, and their principal subdivisions (e.g., provinces or states). The official name of the standard is Codes for the representation of names of countries and their subdivisions."/>
      <appinfo:LocalTerm term="ISSN" literal="International Standard Serial Number"/>
      <appinfo:LocalTerm term="MAC" literal="media access control address"/>
      <appinfo:LocalTerm term="MIME" literal="Multipurpose Internet Mail Extensions"/>
      <appinfo:LocalTerm term="MSRP" literal="Manufacturer's suggested retail price"/>
      <appinfo:LocalTerm term="NANP" literal="North American Numbering Plan"/>
      <appinfo:LocalTerm term="Postdirectional" definition="A word following a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="Predirectional" definition="A word preceding a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="RFID" literal="Radio-frequency identification"/>
      <appinfo:LocalTerm term="RH" definition="Rhesus (Rh) factor is an inherited protein found on the surface of red blood cells."/>
      <appinfo:LocalTerm term="SSN" literal="Social Security Number"/>
      <appinfo:LocalTerm term="TCP" literal="Transmission Control Protocol"/>
      <appinfo:LocalTerm term="UMTS" literal="Universal Mobile Telecommunications Service"/>
      <appinfo:LocalTerm term="UTC" literal="Coordinated Universal Time"/>
      <appinfo:LocalTerm term="UTM" literal="Universal Transverse Mercator"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/" schemaLocation="adapters/niem-xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="utility/structures.xsd"/>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>A data type for a geophysical location described by postal information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:AddressFullText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:AddressSecondaryUnitText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:AddressDeliveryPointAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:AddressCityName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:AddressState" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:AddressCountry" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:AddressPostalCode" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:AddressPostalExtensionCode" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association, connection, relationship, or involvement somehow linking people, things, and/or activities together.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AssociationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactInformationType">
    <xs:annotation>
      <xs:documentation>A data type for how to contact a person or an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:ContactMeansAbstract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:annotation>
      <xs:documentation>A data type for a country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:CountryRepresentation" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmployerType">
    <xs:annotation>
      <xs:documentation>A data type for an organization or person that employs a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:EntityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmploymentAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for an association between an employee and an employer.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Employer" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:EmployeeRankAbstract" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:annotation>
      <xs:documentation>A data type for a person, organization, or item.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FullTelephoneNumberType">
    <xs:annotation>
      <xs:documentation>A data type for a full telephone number.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:TelephoneNumberFullID" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>A data type for a body of people organized for a particular purpose.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:OrganizationAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonNamePrefixAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonContactInformation" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StateType">
    <xs:annotation>
      <xs:documentation>A data type for a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StreetDirectionalType">
    <xs:annotation>
      <xs:documentation>A data type for a direction that appears in a street name.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StreetDirectionalRepresentation" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StreetType">
    <xs:annotation>
      <xs:documentation>A data type for a road, thoroughfare, or highway.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:StreetPredirectional" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:StreetName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:StreetPostdirectional" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TelephoneNumberType">
    <xs:annotation>
      <xs:documentation>A data type for a telephone number for a telecommunication device.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:TelephoneNumberAbstract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="AddressCityName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a city or town.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressCountry" type="nc:CountryType" nillable="true">
    <xs:annotation>
      <xs:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressDeliveryPointAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a single place or unit at which mail is delivered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressDeliveryPointID" type="niem-xs:string" substitutionGroup="nc:AddressDeliveryPointAbstract">
    <xs:annotation>
      <xs:documentation>An identifier of a single place or unit at which mail is delivered.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressFullText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressPostalCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a post office-assigned zone for an address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressPostalExtensionCode" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier of a smaller area within a post office-assigned zone for an address.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressSecondaryUnitText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A particular unit within a larger unit or grouping at a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressState" type="nc:StateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AddressStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPointAbstract">
    <xs:annotation>
      <xs:documentation>A road, thoroughfare or highway.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactEmailID" type="niem-xs:string" substitutionGroup="nc:ContactMeansAbstract">
    <xs:annotation>
      <xs:documentation>An electronic mailing address by which a person or organization may be contacted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactMailingAddress" type="nc:AddressType" substitutionGroup="nc:ContactMeansAbstract">
    <xs:annotation>
      <xs:documentation>A postal address by which a person or organization may be contacted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactMeansAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a means of contacting someone.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeansAbstract">
    <xs:annotation>
      <xs:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CountryName" type="nc:ProperNameTextType" substitutionGroup="nc:CountryRepresentation">
    <xs:annotation>
      <xs:documentation>A name of a country, territory, dependency, or other such geopolitical subdivision of a location.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CountryRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployeeRankAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a rank, status, or promotion level of a person within an employment organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EmployeeRankText" type="nc:TextType" substitutionGroup="nc:EmployeeRankAbstract">
    <xs:annotation>
      <xs:documentation>A rank, status, or promotion level of a person within an employment organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Employer" type="nc:EmployerType" nillable="true">
    <xs:annotation>
      <xs:documentation>An organization or person that employs a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation">
    <xs:annotation>
      <xs:documentation>An organization capable of bearing legal rights and responsibilities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EntityRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of an entity.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FullTelephoneNumber" type="nc:FullTelephoneNumberType" substitutionGroup="nc:TelephoneNumberAbstract">
    <xs:annotation>
      <xs:documentation>A full telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for OrganizationType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that references an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType" nillable="true">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PersonType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonContactInformation" type="nc:ContactInformationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A means of contacting a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEmploymentAssociation" type="nc:EmploymentAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An association between an employee and an employer.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNamePrefixAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a title or honorific used by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNamePrefixText" type="nc:TextType" substitutionGroup="nc:PersonNamePrefixAbstract">
    <xs:annotation>
      <xs:documentation>A title or honorific used by a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A term appended after the family name that qualifies the name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateName" type="nc:ProperNameTextType" substitutionGroup="nc:StateRepresentation">
    <xs:annotation>
      <xs:documentation>A name of a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a state, commonwealth, province, or other such geopolitical subdivision of a country.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetDirectionalRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a direction that appears in a street name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetDirectionalText" type="nc:TextType" substitutionGroup="nc:StreetDirectionalRepresentation">
    <xs:annotation>
      <xs:documentation>A direction that in a street name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete reference for a street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetName" type="nc:ProperNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number that identifies a particular unit or location within a street.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetPostdirectional" type="nc:StreetDirectionalType" nillable="true">
    <xs:annotation>
      <xs:documentation>A direction that appears after a street name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StreetPredirectional" type="nc:StreetDirectionalType" nillable="true">
    <xs:annotation>
      <xs:documentation>A direction that appears before a street name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TelephoneNumberFullID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete telephone number.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
