schemas/booking-iepd/api/xml_schema/niem/xsd/domains/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/7.2/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ ../utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" xmlns:aamva_d20="http://release.niem.gov/niem/codes/aamva_d20/5.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/7.2/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:structures="http://release.niem.gov/niem/structures/5.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="AAMVA" literal="The American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="ACD" literal="AAMVA Code Dictionary"/>
      <appinfo:LocalTerm term="ADA" literal="Americans with Disabilities Act"/>
      <appinfo:LocalTerm term="AFIS" literal="Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="Alpha" definition="Letter(s)"/>
      <appinfo:LocalTerm term="Amber" literal="America's Missing: Broadcast Emergency Response"/>
      <appinfo:LocalTerm term="ANSID20" literal="The Data Dictionary for Traffic Record Systems, maintained by AAMVA, the American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="APCO" literal="Association of Public-Safety Communications Officials (APCO) - International, Inc."/>
      <appinfo:LocalTerm term="BAC" literal="Blood Alcohol Concentration"/>
      <appinfo:LocalTerm term="BOP" literal="Bureau of Prisons"/>
      <appinfo:LocalTerm term="BPH" literal="Board of Parole Hearings"/>
      <appinfo:LocalTerm term="Brady" literal="Brady Law"/>
      <appinfo:LocalTerm term="CDL" literal="Commercial Driver's License"/>
      <appinfo:LocalTerm term="CFR" definition="Code of Federal Regulations"/>
      <appinfo:LocalTerm term="CHRI" literal="Criminal History Record Information"/>
      <appinfo:LocalTerm term="CJIS" literal="Criminal Justice Information System"/>
      <appinfo:LocalTerm term="CLP" literal="Commercial Learners Permit"/>
      <appinfo:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
      <appinfo:LocalTerm term="CODIS" literal="Combined DNA Index System"/>
      <appinfo:LocalTerm term="COMPAS" literal="Correctional Offender Management Profiling for Alternative Sanctions"/>
      <appinfo:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <appinfo:LocalTerm term="DHS" literal="Department of Homeland Security"/>
      <appinfo:LocalTerm term="DMH" literal="Department of Mental Health"/>
      <appinfo:LocalTerm term="DNA" literal="Deoxyribonucleic acid"/>
      <appinfo:LocalTerm term="DOT" literal="Department of Transportation"/>
      <appinfo:LocalTerm term="EMS" literal="Emergency Medical Service"/>
      <appinfo:LocalTerm term="Enhanceable" definition="An enhanceable offense means that specific factors can increase the severity level of the offense."/>
      <appinfo:LocalTerm term="FBI" literal="Federal Bureau of Investigation"/>
      <appinfo:LocalTerm term="FCN" literal="file control number"/>
      <appinfo:LocalTerm term="FFL" literal="federal firearms license"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <appinfo:LocalTerm term="GDEP" literal="Geographic-Drug Enforcement Program"/>
      <appinfo:LocalTerm term="GVWR" literal="gross vehicle weight rating"/>
      <appinfo:LocalTerm term="HazMat" literal="Hazardous Materials"/>
      <appinfo:LocalTerm term="HME" literal="Hazardous Material Endorsement"/>
      <appinfo:LocalTerm term="HRSO" literal="high risk sex offender"/>
      <appinfo:LocalTerm term="IAFIS" literal="Integrated Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="IBIS" literal="Integrated Ballistic Identification System"/>
      <appinfo:LocalTerm term="ICC" literal="Interstate Commerce Commission"/>
      <appinfo:LocalTerm term="ISBN" literal="International Standard Book Number"/>
      <appinfo:LocalTerm term="JABS" literal="JABS" definition="Joint Automated Booking System"/>
      <appinfo:LocalTerm term="Keyhea" definition="Under the Keyhea injunction, 'involuntary medication' cannot be administered to a state prisoner for more than three days unless the professional staff of the facility in which the prisoner is incarcerated has analyzed the prisoner's condition and found that the prisoner is, as a result of a mental disorder, 'gravely disabled and incompetent to refuse medication or a danger to others, or a danger to self,' and the prisoner has been 'advised of the need for, but has not been willing to accept medication on a voluntary basis.'"/>
      <appinfo:LocalTerm term="LEOKA" literal="Law Enforcement Officer Killed or Assaulted"/>
      <appinfo:LocalTerm term="LIS" literal="License Plate State"/>
      <appinfo:LocalTerm term="Livescan" definition="An inkless, electronic means of capturing fingerprints in a digitized format and then transmitting them to a state repository and/or the FBI"/>
      <appinfo:LocalTerm term="LSTA" definition="State/Country Index"/>
      <appinfo:LocalTerm term="MACR" literal="Monthly Arrest and Citation Register"/>
      <appinfo:LocalTerm term="MCMIS" literal="Motor Carrier Management Information System"/>
      <appinfo:LocalTerm term="MCO" literal="Manufacturer's certificate of origin"/>
      <appinfo:LocalTerm term="MCSIP" literal="Motor Carrier Safety Improvement Process"/>
      <appinfo:LocalTerm term="MDO" literal="mentally disordered offender"/>
      <appinfo:LocalTerm term="MHSDS" literal="Mental Health Services Delivery System"/>
      <appinfo:LocalTerm term="MMUCC" literal="Model Minimum Uniform Crash Criteria"/>
      <appinfo:LocalTerm term="MO" literal="Modus Operandi"/>
      <appinfo:LocalTerm term="ModusOperandi" literal="Mode of operating"/>
      <appinfo:LocalTerm term="Multi" literal="Multiple"/>
      <appinfo:LocalTerm term="NCIC" literal="National Crime Information Center"/>
      <appinfo:LocalTerm term="NCMEC" literal="National Center for Missing &amp; Exploited Children"/>
      <appinfo:LocalTerm term="NDEX" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="NDEx" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="NIBRS" literal="National Incident Based Reporting System"/>
      <appinfo:LocalTerm term="NICB" literal="National Insurance Crime Bureau"/>
      <appinfo:LocalTerm term="NICS" literal="National Instant Criminal Background Check System"/>
      <appinfo:LocalTerm term="NLETS" literal="National Law Enforcement Telecommunication Systems"/>
      <appinfo:LocalTerm term="OCA" literal="Originating Case Agency"/>
      <appinfo:LocalTerm term="ORI" definition="A nine-character identifier assigned by the FBI Criminal Justice Information Systems (CJIS) staff to an organization, which must have met the established qualifying criteria for ORI assignment to identify the agency in transactions on CJIS Systems."/>
      <appinfo:LocalTerm term="POST" literal="Peace Official Standards and Training"/>
      <appinfo:LocalTerm term="Postdirectional" definition="A word following a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="Predirectional" definition="A word preceding a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="PRISM" literal="Performance and Registration Information Systems Management"/>
      <appinfo:LocalTerm term="REALID" definition="Public Law 109–13, 119 Statute 302, enacted May 11, 2005, was an Act of Congress that modified U.S. federal law pertaining to security, authentication, and issuance procedures standards for the state driver's licenses and identification (ID) cards, as well as various immigration issues pertaining to terrorism."/>
      <appinfo:LocalTerm term="RES" literal="Registration State"/>
      <appinfo:LocalTerm term="RH" definition="Rhesus (Rh) factor is an inherited protein found on the surface of red blood cells."/>
      <appinfo:LocalTerm term="RICO" literal="Racketeer Influenced and Corrupt Organizations"/>
      <appinfo:LocalTerm term="SAFESTAT" literal="Safety Status Measurement System"/>
      <appinfo:LocalTerm term="Separatee" literal="A person who must be kept separate from another person."/>
      <appinfo:LocalTerm term="SMT" literal="Scars, Marks, Tattoos, and Other Characteristics"/>
      <appinfo:LocalTerm term="SSN" literal="Social Security Number"/>
      <appinfo:LocalTerm term="TCD" literal="traffic control device"/>
      <appinfo:LocalTerm term="TCN" literal="Transaction Control Number"/>
      <appinfo:LocalTerm term="TripleI" literal="III - Interstate Identification Index system"/>
      <appinfo:LocalTerm term="TSA" definition="Transportation Security Administration"/>
      <appinfo:LocalTerm term="TYP" literal="(Firearm) Type"/>
      <appinfo:LocalTerm term="TYPA" literal="(Article) Type"/>
      <appinfo:LocalTerm term="TYPO" literal="(ORI) Type"/>
      <appinfo:LocalTerm term="UCR" literal="Uniform Crime Reporting"/>
      <appinfo:LocalTerm term="USDOT" literal="United States Department of Transportation"/>
      <appinfo:LocalTerm term="USMS" literal="United States Marshal Service"/>
      <appinfo:LocalTerm term="VICAP" literal="Violent Criminal Apprehension Program"/>
      <appinfo:LocalTerm term="VIN" literal="Vehicle Identification Number"/>
      <appinfo:LocalTerm term="VINA" literal="Vehicle Identification Number Analysis"/>
      <appinfo:LocalTerm term="WHTI" literal="Western Hemisphere Travel Initiative"/>
      <appinfo:LocalTerm term="XRay" literal="X-Ray"/>
      <appinfo:LocalTerm term="XRays" literal="X-Rays"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/codes/aamva_d20/5.0/" schemaLocation="../codes/aamva_d20.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/" schemaLocation="../adapters/niem-xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="AppointmentType">
    <xs:annotation>
      <xs:documentation>A data type for an appointment consists of scheduled dates and times, actual dates and times, and descriptive information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:AppointmentPriorityText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:AppointmentResultsText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrestType">
    <xs:annotation>
      <xs:documentation>A data type for the apprehension of a subject by a peace official.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:ArrestAgency" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestAgencyRecordIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestArraignmentDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestCharge" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestInvolvedItem" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ArrestInvolvedWeapon" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestOfficial" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestProbableCauseText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestSequenceID" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestSubject" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestWarrant" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ArrestAugmentationPoint" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BailBondType">
    <xs:annotation>
      <xs:documentation>A data type for an agreement between a bondsman and a subject in which a bondsman pays the subject's bail or portion of the bail in exchange for certain conditions.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:BailBondAmount" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:BailBondAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BailType">
    <xs:annotation>
      <xs:documentation>A data type for details of a commitment made to secure the release of a subject being held in custody and suspected of a crime.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:BailPostedAmount" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:BailSetAmount" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:BailAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BookingType">
    <xs:annotation>
      <xs:documentation>A data type for an administrative step taken after an arrest subject is brought to a police station or detention facility.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:BookingAgency" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:BookingRelease" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:BookingSubject" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:Arrest" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:BookingAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:CaseCourt" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCourtEvent" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseWitness" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeCategoryDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeFilingDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeLegalDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeSentence" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSequenceID" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeTrackingIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeVictim" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeCategoryAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtEventType">
    <xs:annotation>
      <xs:documentation>A data type for a court occurrence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CourtEventCourt" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtOrderType">
    <xs:annotation>
      <xs:documentation>A data type for a direction of a judge not including a judgment, which determines some point or directs some steps in proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CourtOrderIssuingDate" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtType">
    <xs:annotation>
      <xs:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:CourtName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CourtDivisionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CourtCategoryAbstract" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseBaseType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization issued to a driver granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DriverLicenseType">
    <xs:annotation>
      <xs:documentation>A data type for a license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:DriverLicenseBaseType">
        <xs:sequence>
          <xs:element ref="j:DriverLicenseCardIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnforcementOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in the enforcement of law.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:EnforcementOfficialBadgeIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:EnforcementOfficialCategoryText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:EnforcementOfficialUnit" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnforcementUnitType">
    <xs:annotation>
      <xs:documentation>A data type for a unit of an agency responsible for enforcing the law and maintaining peace.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:EnforcementUnitName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncidentArrestAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between an incident and an arrest.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Incident" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncidentAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialBarMembershipType">
    <xs:annotation>
      <xs:documentation>A data type for a legal capacity in which a judicial official is able to practice law.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:JudicialOfficialBarIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in a judicial area of government.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:JudicialOfficialBarMembership" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:JudicialOfficialRegistrationIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OffenseLocationAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between an offense and a location at which the offense occurred.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="nc:Location" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OffenseType">
    <xs:annotation>
      <xs:documentation>A data type for an alleged violation of a statute, ordinance, or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:OffenseAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:OrganizationORIIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:DriverLicense" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonAFISIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonFBIIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:PersonNCICIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PersonEyeColorCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for a code set identifying an eye color of a person.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="BLACK">
        <xs:annotation>
          <xs:documentation>BLACK</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLUE">
        <xs:annotation>
          <xs:documentation>BLUE</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BROWN">
        <xs:annotation>
          <xs:documentation>BROWN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRAY">
        <xs:annotation>
          <xs:documentation>GRAY</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GREEN">
        <xs:annotation>
          <xs:documentation>GREEN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HAZEL">
        <xs:annotation>
          <xs:documentation>HAZEL</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MAROON">
        <xs:annotation>
          <xs:documentation>MAROON</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MULTICOLORED">
        <xs:annotation>
          <xs:documentation>MULTICOLORED</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PINK">
        <xs:annotation>
          <xs:documentation>PINK</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UNKNOWN">
        <xs:annotation>
          <xs:documentation>UNKNOWN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonEyeColorCodeType">
    <xs:annotation>
      <xs:documentation>A data type for a code set identifying an eye color of a person.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="j:PersonEyeColorCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person name.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReleaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a Release.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SentenceType">
    <xs:annotation>
      <xs:documentation>A data type for a punishment resulting from conviction of charges in a court case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:SentenceCharge" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatuteType">
    <xs:annotation>
      <xs:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:StatuteCodeIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteCodeSectionIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:StatuteAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>A data type for a person or organization that is involved or suspected of being involved in a violation of a criminal statute, ordinance or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:SubjectAppointment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VictimType">
    <xs:annotation>
      <xs:documentation>A data type for a person who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VictimIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:VictimCategoryAbstract" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:VictimAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VictimWitnessAssociationType">
    <xs:annotation>
      <xs:documentation>A data type for a relationship between a victim and a witness.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:AssociationType">
        <xs:sequence>
          <xs:element ref="j:VictimPerson" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:Witness" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WarrantType">
    <xs:annotation>
      <xs:documentation>A data type for an authorization for an enforcement official to perform a specified action.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:CourtOrderType">
        <xs:sequence>
          <xs:element ref="j:WarrantProbableCauseText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WitnessType">
    <xs:annotation>
      <xs:documentation>A data type for a person who has observed an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:WitnessIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:WitnessSequenceNumberText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppointmentPriorityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the priority of an appointment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AppointmentResultsText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the outcomes of an appointment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Arrest" type="j:ArrestType">
    <xs:annotation>
      <xs:documentation>An apprehension of a subject by a peace official based on an observed or a reported violation of a law or ordinance, an outstanding arrest warrant, or probable cause information.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAgency" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An agency which employs the arresting official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAgencyRecordIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A records management system identification of the originating case agency for an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestArraignmentDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a subject is due to appear in court after an arrest to answer the charges filed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ArrestType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A formal allegation of a violation of a statute and/or ordinance in association with an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestInvolvedItem" type="nc:ItemType" nillable="true">
    <xs:annotation>
      <xs:documentation>A piece of property associated with an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestInvolvedWeapon" type="nc:WeaponType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a weapon associated with an arrested subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A peace official who makes an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestProbableCauseText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An observed or reported violation of a law or ordinance, which can be a sufficient cause to arrest a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestSequenceID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequential identifier number assigned to the arrest of a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestSubject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who is arrested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ArrestWarrant" type="j:WarrantType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court authorized order which commands a peace official to arrest a subject and bring that subject before the court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Bail" type="j:BailType" nillable="true">
    <xs:annotation>
      <xs:documentation>A commitment made (and possibly secured by cash or property) to secure the release of a subject being held in custody and suspected of a crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for BailType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBond" type="j:BailBondType">
    <xs:annotation>
      <xs:documentation>An agreement between a bondsman and a subject in which a bondsman pays the subject's bail or portion of the bail in exchange for certain conditions, including the payment of a certain amount of money and the reappearance of the subject</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A monetary amount approved for bond.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for BailBondType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailPostedAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>An amount of bail paid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailSetAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A monetary amount approved for bail.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Booking" type="j:BookingType">
    <xs:annotation>
      <xs:documentation>An administrative step taken after an arrested subject is brought to a police station or detention facility, which involves entry of the subject's name and other relevant facts on the police blotter, and which may also include photographing,</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BookingAgency" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An organization which processes a booking.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BookingAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for BookingType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BookingRelease" type="nc:ReleaseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A release of a subject from booking or from booking detention.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BookingSubject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person who is booked.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court of law in which the case is being tried.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourtEvent" type="j:CourtEventType">
    <xs:annotation>
      <xs:documentation>A court occurrence related to a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseWitness" type="j:WitnessType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person/entity who has information relating to the activity or who testifies in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Charge" type="j:ChargeType">
    <xs:annotation>
      <xs:documentation>A formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ChargeType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a crime category.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCountQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of times a person is charged with committing the same crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFilingDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a charge was filed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification number assigned to a particular charge by an arresting agency, prosecuting attorney, or a court for case management purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeLegalDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A legal or formal description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSentence" type="j:SentenceType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sentence given to a person convicted of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSequenceID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequentially assigned identifier for charge tracking purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeTrackingIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification number assigned to an entire set of charges for an arrest. Different numbers may appear in the set if cases have been consolidated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeVictim" type="j:VictimType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person or entity who is the victim of an offense designated by the charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Court" type="j:CourtType">
    <xs:annotation>
      <xs:documentation>A court or a unit of a court responsible for trying justice proceedings.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCategoryCode" type="aamva_d20:CourtCategoryCodeType" substitutionGroup="j:CourtCategoryAbstract">
    <xs:annotation>
      <xs:documentation>A kind of court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtDivisionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area of case processing and the law governing specific types of matters before the court and governed by distinct court rule and processes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court in which a court event occurs.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a unit of a court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtOrder" type="j:CourtOrderType" nillable="true">
    <xs:annotation>
      <xs:documentation>A direction of a judge not included in a judgment, which determines some point or directs some step in proceedings.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtOrderIssuingDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a court order was issued by a judicial official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicense" type="j:DriverLicenseType" nillable="true">
    <xs:annotation>
      <xs:documentation>A license issued to a person granting driving privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DriverLicenseCardIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification that is affixed to the raw materials (card stock, laminate, etc.) used in producing driver licenses and ID cards. The numbers are issued by the material's manufacturer and provide a unique reference to a card within a jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person involved in the enforcement of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficialBadgeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification used to refer to an enforcement official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficialCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of enforcement official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficialUnit" type="j:EnforcementUnitType" nillable="true">
    <xs:annotation>
      <xs:documentation>An enforcement unit to which an enforcement officer is assigned.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementUnitName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of an enforcement unit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentArrestAssociation" type="j:IncidentArrestAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A relationship between an incident and an arrest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IncidentAugmentation" type="j:IncidentAugmentationType" substitutionGroup="nc:IncidentAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialBarIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a judicial official after meeting the requirement to practice law in a region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialBarMembership" type="j:JudicialOfficialBarMembershipType" nillable="true">
    <xs:annotation>
      <xs:documentation>A legal capacity in which a judicial official is able to practice law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialRegistrationIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a judicial official after registering within a state or region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Offense" type="j:OffenseType">
    <xs:annotation>
      <xs:documentation>An act or a course of action which may constitute a violation of a criminal statute, ordinance or rule that occurred during an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for OffenseType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OffenseLocationAssociation" type="j:OffenseLocationAssociationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A relationship between an offense and a location at which the offense occurred.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="nc:OrganizationAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationORIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique nine character NCIC identification (ORI) assigned to a justice-related organization by the FBI CJIS Division.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAFISIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number issued by an agency's automatic fingerprint system based on submitted fingerprints other than FBI ID and SSN.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentation" type="j:PersonAugmentationType" substitutionGroup="nc:PersonAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEyeColorCode" type="j:PersonEyeColorCodeType" substitutionGroup="nc:PersonEyeColorAbstract">
    <xs:annotation>
      <xs:documentation>A code set identifying an eye color of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFBIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number issued by the FBI's Automated Fingerprint Identification System (AFIS) based on submitted fingerprints.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonLastOccupationText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the subject's last occupation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameAugmentation" type="j:PersonNameAugmentationType" substitutionGroup="nc:PersonNameAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a person name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNCICIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A file control number (FCN) identification that is often used to link a NCIC record to a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReleaseAugmentation" type="j:ReleaseAugmentationType" substitutionGroup="nc:ReleaseAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a Release.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SentenceCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A specific charge in a court case resulting in a sentence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for StatuteType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number of a set of laws for a particular jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeSectionIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a section or category within a code book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a statute.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A full text of a statute or law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectAppointment" type="j:AppointmentType" nillable="true">
    <xs:annotation>
      <xs:documentation>An event or activity involving the appointment of a corrections subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Victim" type="j:VictimType">
    <xs:annotation>
      <xs:documentation>A person, organization, or other entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for VictimType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of victim an offense was committed against.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimCategoryText" type="nc:TextType" substitutionGroup="j:VictimCategoryAbstract">
    <xs:annotation>
      <xs:documentation>A kind of victim an offense was committed against.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimEntityAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number or string identifying a victim.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimPerson" type="nc:PersonType" substitutionGroup="j:VictimEntityAbstract" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WarrantProbableCauseText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A justification for securing a warrant.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Witness" type="j:WitnessType">
    <xs:annotation>
      <xs:documentation>A person who has observed an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WitnessIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number or string identifying a witness.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WitnessSequenceNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequential number assigned to the witness of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
