schemas/Warrant_iepd/api/xml_schema/niem/xsd/codes/unece_rec20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/codes/unece_rec20/5.0/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ ../utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:structures="http://release.niem.gov/niem/structures/5.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:unece="http://release.niem.gov/niem/codes/unece_rec20/5.0/" xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>United Nations Economic Commission for Europe (UNECE), United Nations Centre for Trade Facilitation and Electronic Business (UN/CEFACT) measure codes</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:simpleType name="LengthCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for units of measurements for a length value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="4H">
        <xs:annotation>
          <xs:documentation>micrometre (micron)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="77">
        <xs:annotation>
          <xs:documentation>milli-inch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A11">
        <xs:annotation>
          <xs:documentation>angstrom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A12">
        <xs:annotation>
          <xs:documentation>astronomical unit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A45">
        <xs:annotation>
          <xs:documentation>decametre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="A71">
        <xs:annotation>
          <xs:documentation>femtometre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AK">
        <xs:annotation>
          <xs:documentation>fathom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AWG">
        <xs:annotation>
          <xs:documentation>american wire gauge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="B57">
        <xs:annotation>
          <xs:documentation>light year</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="C45">
        <xs:annotation>
          <xs:documentation>nanometre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="C52">
        <xs:annotation>
          <xs:documentation>picometre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="C63">
        <xs:annotation>
          <xs:documentation>parsec</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CMT">
        <xs:annotation>
          <xs:documentation>centimetre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DMT">
        <xs:annotation>
          <xs:documentation>decimetre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F49">
        <xs:annotation>
          <xs:documentation>rod [unit of distance]</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F50">
        <xs:annotation>
          <xs:documentation>micrometre per kelvin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F51">
        <xs:annotation>
          <xs:documentation>centimetre per kelvin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F52">
        <xs:annotation>
          <xs:documentation>metre per kelvin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FOT">
        <xs:annotation>
          <xs:documentation>foot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G04">
        <xs:annotation>
          <xs:documentation>centimetre per bar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G05">
        <xs:annotation>
          <xs:documentation>metre per bar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G06">
        <xs:annotation>
          <xs:documentation>millimetre per bar</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="H79">
        <xs:annotation>
          <xs:documentation>French gauge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="H84">
        <xs:annotation>
          <xs:documentation>gram millimetre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HMT">
        <xs:annotation>
          <xs:documentation>hectometre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INH">
        <xs:annotation>
          <xs:documentation>inch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K13">
        <xs:annotation>
          <xs:documentation>foot per degree Fahrenheit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K17">
        <xs:annotation>
          <xs:documentation>foot per psi</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K45">
        <xs:annotation>
          <xs:documentation>inch per degree Fahrenheit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K46">
        <xs:annotation>
          <xs:documentation>inch per psi</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KMT">
        <xs:annotation>
          <xs:documentation>kilometre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KTM">
        <xs:annotation>
          <xs:documentation>kilometre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L98">
        <xs:annotation>
          <xs:documentation>yard per degree Fahrenheit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L99">
        <xs:annotation>
          <xs:documentation>yard per psi</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M49">
        <xs:annotation>
          <xs:documentation>chain (based on U.S. survey foot)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M50">
        <xs:annotation>
          <xs:documentation>furlong</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M51">
        <xs:annotation>
          <xs:documentation>foot (U.S. survey)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M52">
        <xs:annotation>
          <xs:documentation>mile (based on U.S. survey foot)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M53">
        <xs:annotation>
          <xs:documentation>metre per pascal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M7">
        <xs:annotation>
          <xs:documentation>micro-inch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MAM">
        <xs:annotation>
          <xs:documentation>megametre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MMT">
        <xs:annotation>
          <xs:documentation>millimetre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MTR">
        <xs:annotation>
          <xs:documentation>metre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NMI">
        <xs:annotation>
          <xs:documentation>nautical mile</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SMI">
        <xs:annotation>
          <xs:documentation>mile (statute mile)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="X1">
        <xs:annotation>
          <xs:documentation>Gunter's chain</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="YRD">
        <xs:annotation>
          <xs:documentation>yard</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LengthCodeType">
    <xs:annotation>
      <xs:documentation>A data type for units of measurements for a length value.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="unece:LengthCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MassCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for units of measurement for a weight value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="2U">
        <xs:annotation>
          <xs:documentation>megagram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="APZ">
        <xs:annotation>
          <xs:documentation>troy ounce or apothecary ounce</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CGM">
        <xs:annotation>
          <xs:documentation>centigram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CWA">
        <xs:annotation>
          <xs:documentation>hundred pound (cwt) / hundred weight (US)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CWI">
        <xs:annotation>
          <xs:documentation>hundred weight (UK)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DG">
        <xs:annotation>
          <xs:documentation>decigram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DJ">
        <xs:annotation>
          <xs:documentation>decagram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DTN">
        <xs:annotation>
          <xs:documentation>decitonne</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F13">
        <xs:annotation>
          <xs:documentation>slug</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRM">
        <xs:annotation>
          <xs:documentation>gram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GRN">
        <xs:annotation>
          <xs:documentation>grain</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HGM">
        <xs:annotation>
          <xs:documentation>hectogram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="K64">
        <xs:annotation>
          <xs:documentation>pound (avoirdupois) per degree Fahrenheit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KGM">
        <xs:annotation>
          <xs:documentation>kilogram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KTN">
        <xs:annotation>
          <xs:documentation>kilotonne</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L69">
        <xs:annotation>
          <xs:documentation>tonne per kelvin</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="L87">
        <xs:annotation>
          <xs:documentation>ton short per degree Fahrenheit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LBR">
        <xs:annotation>
          <xs:documentation>pound</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LTN">
        <xs:annotation>
          <xs:documentation>ton (UK) or long ton (US)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M85">
        <xs:annotation>
          <xs:documentation>ton, assay</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M86">
        <xs:annotation>
          <xs:documentation>pfund</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MC">
        <xs:annotation>
          <xs:documentation>microgram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MGM">
        <xs:annotation>
          <xs:documentation>milligram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ONZ">
        <xs:annotation>
          <xs:documentation>ounce (avoirdupois)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="STI">
        <xs:annotation>
          <xs:documentation>stone (UK)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="STN">
        <xs:annotation>
          <xs:documentation>ton (US) or short ton (UK/US)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TNE">
        <xs:annotation>
          <xs:documentation>tonne (metric ton)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MassCodeType">
    <xs:annotation>
      <xs:documentation>A data type for units of measurement for a weight value.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="unece:MassCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="LengthUnitCode" type="unece:LengthCodeType" substitutionGroup="nc:LengthUnitAbstract">
    <xs:annotation>
      <xs:documentation>A unit of measure of a length value.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MassUnitCode" type="unece:MassCodeType" substitutionGroup="nc:WeightUnitAbstract">
    <xs:annotation>
      <xs:documentation>A unit of measure of the weight value.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
