schemas/CaseUpdates_iepd/api/xml_schema/niem/xsd/domains/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/domains/jxdm/7.2/" version="1" xml:lang="en-US" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ ../utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../utility/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument" xmlns:aamva_d20="http://release.niem.gov/niem/codes/aamva_d20/5.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/7.2/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ucr="http://release.niem.gov/niem/codes/ucr/5.1/" xmlns:structures="http://release.niem.gov/niem/structures/5.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="AAMVA" literal="The American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="ACD" literal="AAMVA Code Dictionary"/>
      <appinfo:LocalTerm term="ADA" literal="Americans with Disabilities Act"/>
      <appinfo:LocalTerm term="AFIS" literal="Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="Alpha" definition="Letter(s)"/>
      <appinfo:LocalTerm term="Amber" literal="America's Missing: Broadcast Emergency Response"/>
      <appinfo:LocalTerm term="ANSID20" literal="The Data Dictionary for Traffic Record Systems, maintained by AAMVA, the American Association of Motor Vehicle Administrators"/>
      <appinfo:LocalTerm term="APCO" literal="Association of Public-Safety Communications Officials (APCO) - International, Inc."/>
      <appinfo:LocalTerm term="BAC" literal="Blood Alcohol Concentration"/>
      <appinfo:LocalTerm term="BOP" literal="Bureau of Prisons"/>
      <appinfo:LocalTerm term="BPH" literal="Board of Parole Hearings"/>
      <appinfo:LocalTerm term="Brady" literal="Brady Law"/>
      <appinfo:LocalTerm term="CDL" literal="Commercial Driver's License"/>
      <appinfo:LocalTerm term="CFR" definition="Code of Federal Regulations"/>
      <appinfo:LocalTerm term="CHRI" literal="Criminal History Record Information"/>
      <appinfo:LocalTerm term="CJIS" literal="Criminal Justice Information System"/>
      <appinfo:LocalTerm term="CLP" literal="Commercial Learners Permit"/>
      <appinfo:LocalTerm term="CMV" literal="Commercial Motor Vehicle"/>
      <appinfo:LocalTerm term="CODIS" literal="Combined DNA Index System"/>
      <appinfo:LocalTerm term="COMPAS" literal="Correctional Offender Management Profiling for Alternative Sanctions"/>
      <appinfo:LocalTerm term="DEA" literal="Drug Enforcement Administration"/>
      <appinfo:LocalTerm term="DHS" literal="Department of Homeland Security"/>
      <appinfo:LocalTerm term="DMH" literal="Department of Mental Health"/>
      <appinfo:LocalTerm term="DNA" literal="Deoxyribonucleic acid"/>
      <appinfo:LocalTerm term="DOT" literal="Department of Transportation"/>
      <appinfo:LocalTerm term="EMS" literal="Emergency Medical Service"/>
      <appinfo:LocalTerm term="Enhanceable" definition="An enhanceable offense means that specific factors can increase the severity level of the offense."/>
      <appinfo:LocalTerm term="FBI" literal="Federal Bureau of Investigation"/>
      <appinfo:LocalTerm term="FCN" literal="file control number"/>
      <appinfo:LocalTerm term="FFL" literal="federal firearms license"/>
      <appinfo:LocalTerm term="FIPS" literal="Federal Information Processing Standards"/>
      <appinfo:LocalTerm term="GDEP" literal="Geographic-Drug Enforcement Program"/>
      <appinfo:LocalTerm term="GVWR" literal="gross vehicle weight rating"/>
      <appinfo:LocalTerm term="HazMat" literal="Hazardous Materials"/>
      <appinfo:LocalTerm term="HME" literal="Hazardous Material Endorsement"/>
      <appinfo:LocalTerm term="HRSO" literal="high risk sex offender"/>
      <appinfo:LocalTerm term="IAFIS" literal="Integrated Automated Fingerprint Identification System"/>
      <appinfo:LocalTerm term="IBIS" literal="Integrated Ballistic Identification System"/>
      <appinfo:LocalTerm term="ICC" literal="Interstate Commerce Commission"/>
      <appinfo:LocalTerm term="ISBN" literal="International Standard Book Number"/>
      <appinfo:LocalTerm term="JABS" literal="JABS" definition="Joint Automated Booking System"/>
      <appinfo:LocalTerm term="Keyhea" definition="Under the Keyhea injunction, 'involuntary medication' cannot be administered to a state prisoner for more than three days unless the professional staff of the facility in which the prisoner is incarcerated has analyzed the prisoner's condition and found that the prisoner is, as a result of a mental disorder, 'gravely disabled and incompetent to refuse medication or a danger to others, or a danger to self,' and the prisoner has been 'advised of the need for, but has not been willing to accept medication on a voluntary basis.'"/>
      <appinfo:LocalTerm term="LEOKA" literal="Law Enforcement Officer Killed or Assaulted"/>
      <appinfo:LocalTerm term="LIS" literal="License Plate State"/>
      <appinfo:LocalTerm term="Livescan" definition="An inkless, electronic means of capturing fingerprints in a digitized format and then transmitting them to a state repository and/or the FBI"/>
      <appinfo:LocalTerm term="LSTA" definition="State/Country Index"/>
      <appinfo:LocalTerm term="MACR" literal="Monthly Arrest and Citation Register"/>
      <appinfo:LocalTerm term="MCMIS" literal="Motor Carrier Management Information System"/>
      <appinfo:LocalTerm term="MCO" literal="Manufacturer's certificate of origin"/>
      <appinfo:LocalTerm term="MCSIP" literal="Motor Carrier Safety Improvement Process"/>
      <appinfo:LocalTerm term="MDO" literal="mentally disordered offender"/>
      <appinfo:LocalTerm term="MHSDS" literal="Mental Health Services Delivery System"/>
      <appinfo:LocalTerm term="MMUCC" literal="Model Minimum Uniform Crash Criteria"/>
      <appinfo:LocalTerm term="MO" literal="Modus Operandi"/>
      <appinfo:LocalTerm term="ModusOperandi" literal="Mode of operating"/>
      <appinfo:LocalTerm term="Multi" literal="Multiple"/>
      <appinfo:LocalTerm term="NCIC" literal="National Crime Information Center"/>
      <appinfo:LocalTerm term="NCMEC" literal="National Center for Missing &amp; Exploited Children"/>
      <appinfo:LocalTerm term="NDEX" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="NDEx" literal="National Data Exchange"/>
      <appinfo:LocalTerm term="NIBRS" literal="National Incident Based Reporting System"/>
      <appinfo:LocalTerm term="NICB" literal="National Insurance Crime Bureau"/>
      <appinfo:LocalTerm term="NICS" literal="National Instant Criminal Background Check System"/>
      <appinfo:LocalTerm term="NLETS" literal="National Law Enforcement Telecommunication Systems"/>
      <appinfo:LocalTerm term="OCA" literal="Originating Case Agency"/>
      <appinfo:LocalTerm term="ORI" definition="A nine-character identifier assigned by the FBI Criminal Justice Information Systems (CJIS) staff to an organization, which must have met the established qualifying criteria for ORI assignment to identify the agency in transactions on CJIS Systems."/>
      <appinfo:LocalTerm term="POST" literal="Peace Official Standards and Training"/>
      <appinfo:LocalTerm term="Postdirectional" definition="A word following a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="Predirectional" definition="A word preceding a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located."/>
      <appinfo:LocalTerm term="PRISM" literal="Performance and Registration Information Systems Management"/>
      <appinfo:LocalTerm term="REALID" definition="Public Law 109–13, 119 Statute 302, enacted May 11, 2005, was an Act of Congress that modified U.S. federal law pertaining to security, authentication, and issuance procedures standards for the state driver's licenses and identification (ID) cards, as well as various immigration issues pertaining to terrorism."/>
      <appinfo:LocalTerm term="RES" literal="Registration State"/>
      <appinfo:LocalTerm term="RH" definition="Rhesus (Rh) factor is an inherited protein found on the surface of red blood cells."/>
      <appinfo:LocalTerm term="RICO" literal="Racketeer Influenced and Corrupt Organizations"/>
      <appinfo:LocalTerm term="SAFESTAT" literal="Safety Status Measurement System"/>
      <appinfo:LocalTerm term="Separatee" literal="A person who must be kept separate from another person."/>
      <appinfo:LocalTerm term="SMT" literal="Scars, Marks, Tattoos, and Other Characteristics"/>
      <appinfo:LocalTerm term="SSN" literal="Social Security Number"/>
      <appinfo:LocalTerm term="TCD" literal="traffic control device"/>
      <appinfo:LocalTerm term="TCN" literal="Transaction Control Number"/>
      <appinfo:LocalTerm term="TripleI" literal="III - Interstate Identification Index system"/>
      <appinfo:LocalTerm term="TSA" definition="Transportation Security Administration"/>
      <appinfo:LocalTerm term="TYP" literal="(Firearm) Type"/>
      <appinfo:LocalTerm term="TYPA" literal="(Article) Type"/>
      <appinfo:LocalTerm term="TYPO" literal="(ORI) Type"/>
      <appinfo:LocalTerm term="UCR" literal="Uniform Crime Reporting"/>
      <appinfo:LocalTerm term="USDOT" literal="United States Department of Transportation"/>
      <appinfo:LocalTerm term="USMS" literal="United States Marshal Service"/>
      <appinfo:LocalTerm term="VICAP" literal="Violent Criminal Apprehension Program"/>
      <appinfo:LocalTerm term="VIN" literal="Vehicle Identification Number"/>
      <appinfo:LocalTerm term="VINA" literal="Vehicle Identification Number Analysis"/>
      <appinfo:LocalTerm term="WHTI" literal="Western Hemisphere Travel Initiative"/>
      <appinfo:LocalTerm term="XRay" literal="X-Ray"/>
      <appinfo:LocalTerm term="XRays" literal="X-Rays"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/codes/aamva_d20/5.0/" schemaLocation="../codes/aamva_d20.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/codes/ucr/5.1/" schemaLocation="../codes/ucr.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/" schemaLocation="../adapters/niem-xs.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="BailBondType">
    <xs:annotation>
      <xs:documentation>A data type for an agreement between a bondsman and a subject in which a bondsman pays the subject's bail or portion of the bail in exchange for certain conditions.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:BailBondAmount" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:BailBondConditionDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:BailBondSuretyEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:BailBondAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BookingType">
    <xs:annotation>
      <xs:documentation>A data type for an administrative step taken after an arrest subject is brought to a police station or detention facility.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:BookingAgency" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:BookingAgencyRecordIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:CaseCharge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseCourt" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseCourtEvent" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseDefendantQuantityText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseDefendantParty" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseDefenseAttorney" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseExhibit" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseJudge" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseOfficial" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseOtherEntity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CaseProsecutionAttorney" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CaseWitness" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for an official's involvement in a case.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="j:JudicialOfficialType">
        <xs:sequence>
          <xs:element ref="j:CaseOfficialAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>A data type for a formal allegation that a specific person has committed a specific offense.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ChargeApplicabilityText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeCategoryDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeCountQuantity" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeFilingDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeSequenceID" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeSeverityText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeStatus" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeStatute" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeSubject" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeUCRCrimeCategoryText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeVictim" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:ChargeSeverityDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:ChargeUCRAbstract" minOccurs="0" maxOccurs="2"/>
          <xs:element ref="j:ChargeAugmentationPoint" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtActivityType">
    <xs:annotation>
      <xs:documentation>A data type for a court-related action associated with a court case event.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtEventType">
    <xs:annotation>
      <xs:documentation>A data type for a court occurrence.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:ActivityType">
        <xs:sequence>
          <xs:element ref="j:CourtEventAction" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CourtEventSequenceID" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CourtEventAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtType">
    <xs:annotation>
      <xs:documentation>A data type for a court or a unit of a court responsible for trying justice proceedings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="nc:OrganizationType">
        <xs:sequence>
          <xs:element ref="j:CourtName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CourtDivisionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:CourtCategoryAbstract" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:CourtAugmentationPoint" minOccurs="0" maxOccurs="2"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnforcementOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in the enforcement of law.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:EnforcementOfficialBadgeIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EvidenceType">
    <xs:annotation>
      <xs:documentation>A data type for an item received by or submitted to an agency for use in ascertaining the truth of a matter.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:EvidenceQuantityText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExhibitType">
    <xs:annotation>
      <xs:documentation>A data type for an item introduced as evidence in a trial.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:ExhibitEvidence" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialBarMembershipType">
    <xs:annotation>
      <xs:documentation>A data type for a legal capacity in which a judicial official is able to practice law.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:JudicialOfficialBarIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JudicialOfficialType">
    <xs:annotation>
      <xs:documentation>A data type for a person involved in a judicial area of government.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:JudicialOfficialBarMembership" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:JudicialOfficialRegistrationIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:JudicialOfficialCategoryText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an organization.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:OrganizationORIIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatuteType">
    <xs:annotation>
      <xs:documentation>A data type for a law, rule, or ordinance within a jurisdiction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:StatuteCodeIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:StatuteCodeSectionIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:StatuteDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:StatuteText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:StatuteAugmentationPoint" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectType">
    <xs:annotation>
      <xs:documentation>A data type for a person or organization that is involved or suspected of being involved in a violation of a criminal statute, ordinance or rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:SubjectBooking" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VictimType">
    <xs:annotation>
      <xs:documentation>A data type for a person who suffers injury, loss, or death as a result of an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:VictimIdentification" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WitnessType">
    <xs:annotation>
      <xs:documentation>A data type for a person who has observed an incident.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:RoleOfPerson" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:WitnessIdentification" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="j:WitnessSequenceNumberText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BailBond" type="j:BailBondType" nillable="true">
    <xs:annotation>
      <xs:documentation>An agreement between a bondsman and a subject in which a bondsman pays the subject's bail or portion of the bail in exchange for certain conditions, including the payment of a certain amount of money and the reappearance of the subject</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondAmount" type="nc:AmountType" nillable="true">
    <xs:annotation>
      <xs:documentation>A monetary amount approved for bond.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for BailBondType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondConditionDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a condition or requirement for a subject attached to a bond.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BailBondSuretyEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity who has agreed to be responsible for a subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BookingAgency" type="nc:OrganizationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An organization which processes a booking.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BookingAgencyRecordIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A booking identification of the originating case agency.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseAugmentation" type="j:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCharge" type="j:ChargeType" nillable="true">
    <xs:annotation>
      <xs:documentation>A charge or accusation a person is being tried for in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourt" type="j:CourtType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court of law in which the case is being tried.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseCourtEvent" type="j:CourtEventType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court occurrence related to a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefendantParty" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>An entity being charged or sued in a court of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefendantQuantityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of defendants being tried at once for a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseDefenseAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney who defends a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseExhibit" type="j:ExhibitType" nillable="true">
    <xs:annotation>
      <xs:documentation>An item admitted in court as evidence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseJudge" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A judicial official assigned to a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficial" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A justice official's involvement in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOfficialAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CaseOfficialType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseOtherEntity" type="nc:EntityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A miscellaneous entity involved in a court case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseProsecutionAttorney" type="j:CaseOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>An attorney who prosecutes a case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CaseWitness" type="j:WitnessType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person/entity who has information relating to the activity or who testifies in court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeApplicabilityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A degree of involvement a person is being charged with committing in an offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for ChargeType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a crime category.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeCountQuantity" type="niem-xs:nonNegativeInteger" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of times a person is charged with committing the same crime.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A plain language description of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeFilingDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a charge was filed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification number assigned to a particular charge by an arresting agency, prosecuting attorney, or a court for case management purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeQualifierText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An additional piece of information that clarifies a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSequenceID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequentially assigned identifier for charge tracking purposes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSeverityDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the level of the offense such as Grade A Misdemeanor, Gross Misdemeanor, Aggravated Misdemeanor.  States may transmit numeric grade levels (1, 2, 3) or define degrees alphanumerically (A, B, C.)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSeverityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A level of severity of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeStatus" type="nc:StatusType" nillable="true">
    <xs:annotation>
      <xs:documentation>A state of a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeStatute" type="j:StatuteType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier of a law, rule, or ordinance within a jurisdiction that a person is accused of violating.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeSubject" type="j:SubjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person accused of committing a specific offense.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeUCRAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for an offense within the Uniform Crime Report (UCR) system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeUCRCode" type="ucr:OffenseCodeType" substitutionGroup="j:ChargeUCRAbstract">
    <xs:annotation>
      <xs:documentation>An offense within the Uniform Crime Report (UCR) system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeUCRCrimeCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A Uniform Crime Report (UCR) kind or classification of a crime associated with a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChargeVictim" type="j:VictimType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person or entity who is the victim of an offense designated by the charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCategoryAbstract" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a kind of court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtCategoryCode" type="aamva_d20:CourtCategoryCodeType" substitutionGroup="j:CourtCategoryAbstract">
    <xs:annotation>
      <xs:documentation>A kind of court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtDivisionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An area of case processing and the law governing specific types of matters before the court and governed by distinct court rule and processes.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventAction" type="j:CourtActivityType" nillable="true">
    <xs:annotation>
      <xs:documentation>A court-related action associated with a court case event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for CourtEventType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtEventSequenceID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identifier for a court case event record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CourtName" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name of a unit of a court.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficial" type="j:EnforcementOfficialType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person involved in the enforcement of law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EnforcementOfficialBadgeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification used to refer to an enforcement official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EvidenceQuantityText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A number of individual items that represent a piece of evidence.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ExhibitEvidence" type="j:EvidenceType" nillable="true">
    <xs:annotation>
      <xs:documentation>An exhibit item.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialBarIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a judicial official after meeting the requirement to practice law in a region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialBarMembership" type="j:JudicialOfficialBarMembershipType" nillable="true">
    <xs:annotation>
      <xs:documentation>A legal capacity in which a judicial official is able to practice law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialCategoryText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A kind of judicial official.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="JudicialOfficialRegistrationIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification assigned to a judicial official after registering within a state or region.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationAugmentation" type="j:OrganizationAugmentationType" substitutionGroup="nc:OrganizationAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an organization.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrganizationORIIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique nine character NCIC identification (ORI) assigned to a justice-related organization by the FBI CJIS Division.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for StatuteType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number of a set of laws for a particular jurisdiction.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteCodeSectionIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification of a section or category within a code book.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a statute.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StatuteText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A full text of a statute or law.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SubjectBooking" type="j:BookingType" nillable="true">
    <xs:annotation>
      <xs:documentation>A booking event associated with a corrections subject.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="VictimIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number or string identifying a victim.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WitnessIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>An identification number or string identifying a witness.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="WitnessSequenceNumberText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A sequential number assigned to the witness of an incident.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
