schemas/CourtEvent_iepd/api/xml_schema/CourtEvent_NOLA_Ext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Waqar Syed (URL Integration, Inc.) -->
<xs:schema xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/"
	xmlns:niem-xs="http://release.niem.gov/niem/proxy/niem-xs/5.0/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:j="http://release.niem.gov/niem/domains/jxdm/7.2/"
	xmlns:hs="http://release.niem.gov/niem/domains/humanServices/5.2/"
	xmlns:scr="http://release.niem.gov/niem/domains/screening/5.2/"
	xmlns:structures="http://release.niem.gov/niem/structures/5.0/"
	xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
	xmlns:nola="http://mcp.com/nola/v/1.0/" xmlns:nola-ext="http://mcp.com/nola/extension/v/1.0/"
	targetNamespace="http://mcp.com/nola/extension/v/1.0/" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1" xml:lang="en-US"
	ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ExtensionDocument">
	<!--Defining name spaces, to be added to the top at a later time-->
	<!-- NIEM schema imports -->
	<xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/"
		schemaLocation="./niem\xsd\niem-core.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/proxy/niem-xs/5.0/"
		schemaLocation="./niem\xsd\adapters\niem-xs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/jxdm/7.2/"
		schemaLocation="./niem\xsd\domains\jxdm.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/structures/5.0/"
		schemaLocation="./niem\xsd\utility\structures.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/humanServices/5.2/"
		schemaLocation="./niem/xsd/domains/hs.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/domains/screening/5.2/"
		schemaLocation="./niem/xsd/domains/screening.xsd"/>
	<xs:import namespace="http://release.niem.gov/niem/conformanceTargets/3.0/"
		schemaLocation="./niem\xsd\utility\conformanceTargets.xsd"/>
	<!-- complexType Definitions, NIEM mapping ======================================================================== -->
	<xs:complexType name="CaseAugmentationType">
		<xs:annotation>
			<xs:documentation>A data type for additional case information in
				NOLA.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nola-ext:CourtCaseEventTypeCode" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CourtEventAugmentationType">
		<xs:annotation>
			<xs:documentation>A data type for additional court event information in
				NOLA.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nola-ext:CourtEventTypeCode" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nola-ext:CourtEventTypeText" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NOLAExchangeType">
		<xs:annotation>
			<xs:documentation>A data type for a common ancestor containing exchange level data
				relevant to exchanges in NOLA.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nola-ext:MessageOperationCode" minOccurs="0"
						maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MessageOperationCodeSimpleType">
		<xs:annotation>
			<xs:documentation>A simple data type for a message update code in
				NOLA.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="add">
				<xs:annotation>
					<xs:documentation>New information that has been added</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="delete">
				<xs:annotation>
					<xs:documentation>Information previously sent that is not longer
						valid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="update">
				<xs:annotation>
					<xs:documentation>Information previously sent that has
						changed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageOperationCodeType">
		<xs:annotation>
			<xs:documentation>A data type for a message update code in NOLA.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="nola-ext:MessageOperationCodeSimpleType">
				<xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PersonAugmentationType">
		<xs:annotation>
			<xs:documentation>A data type for additional data Person information in
				NOLA.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="structures:ObjectType">
				<xs:sequence>
					<xs:element ref="nola-ext:CaseDefendantNumber" minOccurs="0"
						maxOccurs="unbounded"/>
					<xs:element ref="scr:InmateNumberID" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="nc:PersonEmploymentAssociation" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Augmentation Elements ======================================================================== -->
	<xs:element name="CaseAugmentation" type="nola-ext:CaseAugmentationType"
		substitutionGroup="nc:CaseAugmentationPoint">
		<xs:annotation>
			<xs:documentation>Additional information about a case in the NOLA.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseDefendantNumber" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A defandant number associated with a specific criminal court case
				number.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CourtEventAugmentation" type="nola-ext:CourtEventAugmentationType"
		substitutionGroup="j:CourtEventAugmentationPoint">
		<xs:annotation>
			<xs:documentation>Additional information about a court event in the
				NOLA.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- New Element definitions ======================================================================== -->
	<xs:element name="CourtCaseEventTypeCode" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A code value that describes a type of case court
				event.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CourtEventTypeCode" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A code value that describes a type of court event.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CourtEventTypeText" type="niem-xs:string">
		<xs:annotation>
			<xs:documentation>A description of a type of court event.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MessageOperationCode" type="nola-ext:MessageOperationCodeType">
		<xs:annotation>
			<xs:documentation>A message update code in NOLA.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonAugmentation" type="nola-ext:PersonAugmentationType"
		substitutionGroup="nc:PersonAugmentationPoint">
		<xs:annotation>
			<xs:documentation>Additional information about a Person in the NOLA.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
